#welcomeScreen {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#welcomeScreen button {
    width: 10%;
}
#loggedInDash {
    width: 100%;
    height: 100%;
    color: white;
}

#chatWindow {
    width: 100%;
    height: 100%;
    position: absolute;
}

#chatWindow #chattingBox {
    right: 0px;
    width: 79%;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    top: 0px;
    display: flex;
    height: 90%;
    overflow-y: scroll;
}

#chatWindow #chatList {
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0px;
    width: 20%;
    position: absolute;
    height: 90%;
}

#chatWindow #chatList .chatButton {
    width:100%;
    border-radius: 0px;
    height:fit-content;
}

#chatWindow #userStuff {
    left: 0px;
    width: 20%;
    position: absolute;
    height: 9%;
    bottom: 0px;
    display: flex;
    align-items: center;
}

#chatWindow #userStuff h3 {
    margin-left: 10px;
}

#chatWindow #userStuff .optionsButtonContainer {
    position: absolute;
    right:10px;
    margin-top: auto;
    margin-bottom: auto;
}

.seperator {
    width: 50%; border-width:0;height: 2px;color:gray;background-color:gray
}

#chatWindow #chatBoxElement {
    left: 21%;
    width: 79%;
    position: absolute;
    height: 9%;
    bottom: 0px;
}

#chatWindow #chatBoxElement #chatBox {
    width: 80%;
    height: max-content;
}

#chatWindow #chatBoxElement #sendChat {
    width: 15%;
    right: 0px;
    position: absolute;
    top: 0px;
}

#chatWindow #chatBoxElement #chatBox {
    border: none;
    border-radius: 6px;
    background-color: #353535;
    color: #cccccc;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    padding: 8px 15px;
}

#chatWindow div {
    background-color: #202020;
}


#chatWindow #chattingBox .foreignchatbox {
    background-color: #505050;
    left: 2%;
    margin-right: auto;
}
 
#chatWindow #chattingBox .userchatbox {
    background-color: #0000cc;
    right: 2%;
    margin-left: auto;
    align-self: flex-end;
    color: #fff; 
}

#chatWindow #chattingBox div {
    margin-top: 20px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-top: 7px;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    text-wrap: 20;
    max-width: 70%;
    overflow-wrap: break-word;
    color: white;
}

#chatWindow #chattingBox div * {
    margin-bottom: auto;
    margin-top: auto;
} 

#chatWindow #chattingBox div::before,
#chatWindow #chattingBox div::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

#chatWindow #chattingBox .userchatbox::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #0000cc;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

#chatWindow #chattingBox .userchatbox::after {
    background-color: #202020;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}

#settings {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

#settings button {
    height: max-content;
    width: max-content;
}

#settings #closeSettings {
    position: absolute;
    top: 2%;
    right: 2%;
}

#settings h3 {margin-top: 0px; margin-bottom: 20px;}